@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
  font-size: 19px;
  line-height: 1.58;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  padding-bottom: 8px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 39px;
  font-weight: bold;
  line-height: 56px;
}

.hero {
  width: 100%;
  min-height: 200px;
  max-height: 534px;
  height: 30vw;
  background: url('https://images.pexels.com/photos/840996/pexels-photo-840996.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
  background-size: cover;
}
