/*lesson_02의 css-full-code*/

body {
    background-color: #512DA8;
  }
  
  .birthday-card {
    margin: 40px auto;
    width: 400px;
    background-color: white;
    padding: 16px;
    text-align: center;
    box-shadow: 0 24px 40px -8px #311B92;
  }
  
  a {
    color: #311B92;
    text-decoration: none;
  }

  