body {
  margin: 0;
  font-family: arial,sans-serif;
}

a {text-decoration: none;}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px 16px 10px;
}

.nav a {
  margin-left: 15px;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,0.87);
}

.nav a:hover:not(.btn) {
  opacity: .85;
  text-decoration: underline;
}

.nav .btn-apps {
  display: flex;
  padding: 3px;
}

.nav a.btn-sign-in {
  padding: 8px 13px;
  color: white;
  border-radius: 2px;
  line-height: 14px;
  font-weight: bold;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}

.nav .nav-right {
  display: flex;
  align-items: center;
}

.content {
  padding: 136px 0 0 0;
  text-align: center;
  position: relative;
}

.content .btn-voice {
  position:  absolute;
}

.content .form-search {
  width: 584px;
  font-size: 16px;
  line-height: 34px;
  padding: 3px 16px;
}

}

.footer {}