body {
  margin: 0;
  padding: 16px;
  background-color: #ECEFF1;
  font-size: 100%;
}

.id-card {
  margin: 80px auto;
  max-width: 320px;
  background-color: white;
  padding: 40px;
}

h2, h5 {
  margin: 0;
}

img {}

h2 {
  font-size: 32px;
  font-weight: 900;
}