body {
  background-color: #FCFCFC;
	font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card {
  margin: 80px auto;
  max-width: 350px;
  box-shadow: 0 20px 20px rgba(0, 0, 0,.08);
  transition: .16s;
}

.card:hover {
  transform: translateY(-24px);
	box-shadow: 0 40px 40px rgba(0, 0, 0,.16);
}

a.featured {
  text-decoration: none;
  color: #1D2129;
}

.card-hero {
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
	width: 100%;
	height: 296px;
	background-image: url('https://scontent-hkg3-1.xx.fbcdn.net/v/t15.0-10/12323191_10153628757763553_1398467009_n.jpg?_nc_cat=0&oh=76da236f6fc18effbfec0f9020e4d009&oe=5BDA9FDB');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-block {
  padding: 24px;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-title {
  margin: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.card-description {
  margin: 12px 0 0 0;
  font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #4B4F56;
}

.card-hr {
  margin: 16px 0 0 0;
  border: none;
  border-top: 1px solid #ECEFF1;
}

.card-type,
.card-tag {
  margin: 16px 0 0 0;
  font-size: 12px;
  color: #90949C;
  font-weight: 400;
}

.card-tag {display: none;}

.card:hover .card-type {display: none;}

.card:hover .card-tag {display: block;}