@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: 'Roboto', arial, sans-serif;
}

a, p, select {
  font-size: 15px;
  transition: .2s .1s;
}

a {
  text-decoration: none;
  color: #1a73e8;
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card-login-wrap {
  padding: 24px;
  max-width: 450px;
  color: #212121;
}
