body {
    background: url("https://image.freepik.com/free-vector/matisse-inspired-shapes-seamless-pattern_1235-418.jpg")
  }
  
  .menu-wrap {
    max-width: 640px;
    background-color: white;
    margin: 80px auto;
    padding: 40px;
    border-radius: 24px;
  }
  
  .menu {
    border: 8px solid #FCE4EC;
    padding: 24px;
  }
  
  .header {
    text-align: center;
  }
  
  .header h4 {
    font-size: 40px;
    color: #E91E63;
    font-weight: 100;
  }
  
  
  .table-menu {
    margin: 40px 0 0 0;
    width: 100%;
    table-layout: fixed;
  }
  
  .table-menu th{
    border-bottom: 2px solid #FCE4EC;
    color: #E91E63;
  }
  
  .table-menu td {
    color: #455A64;
  }
  
  .table-menu th, 
  .table-menu td {
    padding: 8px 0;
    font-size: 14px; 
  }
  
  .t-title { 
    text-align: left;
  }
  
  .t-size { 
    width: 64px;
    text-align: center;
  }
  
  
  