body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background: gray url('http://cfile4.uf.tistory.com/image/216A144F5289072006EEDA') repeat center;
}

.card-cover,
.card-background {
  width: 90%;
  height: 90%;
  max-width: 480px;
  max-height: 480px;
  border-radius: 4px;
  box-shadow: 0 40px 80px -40px black;
}

.card-cover {
  position: fixed;
  text-align: center;
  color: white;
  font-weight: bold;
  background: orange url('https://media.giphy.com/media/VKwspRV2pafJu/giphy.gif') no-repeat center;
  transition: 2s;
}

.card-cover:hover {  transform: translate(100%, 10%) rotate(12deg);  }

.card-background {
  text-align: center;
  background-color: white;
}

.page {  padding: 24px;  }

