body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: url('https://search.pstatic.net/sunny/?src=http%3A%2F%2Fimages.all-free-download.com%2Fimages%2Fgraphiclarge%2Fcute_christmas_seamless_pattern_vector_540504.jpg&type=b400');
}

.card-christmas > .cover,
.card-christmas > .inlay {
  position: fixed;
  margin-top: 64px;
  margin-bottom: 80px;
  margin-left: -180px;
  padding: 20px;
  width: 320px;
  height: 72%;
  background-color: white;
  box-shadow: 0 20px 60px -20px black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.card-christmas > .cover {
  z-index: 9;
  transition: 1s;
  background: black url('https://i.pinimg.com/564x/86/ce/38/86ce387d804ceebc0aa5496b35ade191.jpg') no-repeat center;
  background-size: cover;
}

.card-christmas:hover > .cover {
  transform: translate(100%, 10%) rotate(12deg);
}

.card-christmas h1 {
  margin: 0;
  text-align: center;
}

.card-christmas > a {
  text-decoration: none;
  color: white;
}

.card-christmas p {
  line-height: 28px;
}
