body {
  margin: 0;
  padding: 16px;
  background: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?auto=format&fit=crop&w=2700&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: fixed;
  padding: 0;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 20px 40px 80px -40px black;
}

.card-cover {
  z-index: 99999;
  border: 10px solid white;
  background: url('https://media3.giphy.com/media/K90ckojkohXfW/giphy.gif') no-repeat center;
  background-size: cover;
  text-align: center;
  transition: 0.2s;
  outline: none;

}

.card-cover:focus {
  transform: translate(480px, 40px) rotate(12deg);
}

.card-cover > .title-welcome {
  margin-top: -200px;
  font-size: 64px;
  color: white;
}

.card-letter {

  background-color: white;
  text-align: center;
}
