body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 100vh;

  background: url('https://static.pexels.com/photos/5896/vintage-sweater-retro-wool.jpg') no-repeat center;
  background-size: cover;
}

.card {


  padding: 16px;
}

.card-cover {
  position: absolute;
  z-index: 99999;
  display: block;
  padding: 40px;

  display: block;
  height: 500px;
  width: 420px;
  height: 420px;

  border-radius: 4px;
  box-shadow: 20px 20px 80px -20px black;
  outline: none;

  text-align: center;
  color: white;
  font-weight: bold;
  background: #C74B5A url('https://s-media-cache-ak0.pinimg.com/originals/ee/cb/02/eecb0228d91417e5368c7dc527c16d8f.gif') no-repeat center;
  transition: 2s;
}

.card-cover:focus {  transform: translate(520px, 40px) rotate(12deg); }

.card-letter {

  padding: 40px;
  height: 500px;
  max-width: 420px;
  max-height: 420px;

  border-radius: 4px;
  box-shadow: 20px 20px 80px -20px black;

  text-align: center;
  background-color: white;
}

