body {
  background: url('http://images.all-free-download.com/images/graphicthumb/cute_cartoon_floral_animals_pattern_vector_set_549953.jpg');
  text-align: center;
}

.birthday-card {
  margin: 40px auto;
  width: 400px;
  background-color: white;
  padding: 24px;
}
